{% extends 'base.html' %}
{% block links %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Running a good review{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <article>
                <div class="post-header">
                    <h1>Running a good review</h1>
                </div>
                <div class="post-content">
                    <p>This will be a guide on how to run a review or ‘retro’. First off is the frequency of these reviews. I’ve experienced, 1, 2, 4 week reviews and I feel 2 is the best. Gives enough time to evaluate if the actions have made progress, but not so long that it feels like nothing changes. Plus the 2 week time period gives a chance for people to vent. It’s a good team building exercise.</p>
                    <p>The most important thing to get right is the person running it. If it’s some introvert mumbling his way through, making awkward eye contact to try to get people talking; get rid of him. You need some confidence, someone who wants to legitimately hear what being said. Someone who can stand straight with their shoulders back. </p>
                    <p>The most important thing to get right is the person running it. If it’s some introvert mumbling his way through, making awkward eye contact to try to get people talking; get rid of him. You need some confidence, someone who wants to legitimately hear what being said. Someone who can stand straight with their shoulders back. </p>
                    <p>The good/bad/ugly system works, but you can also do the good/bad style. I like the extra ugly because you can get more fun discussions out of them. It allows people to vent a bit which is good for teambuilding (urgh, how bad were those deployment issues, amirite?)</p>
                    <p>Start with handing around cards/post-its and multiple pens. This seems really obvious but far too many places get it wrong by either having people write on the board, yell out issues, or leave people wandering around looking for pens. Once the cards are in, rate them. People will commonly have the same issues so group those together. Then take a vote on what people find important. Talking about everything takes too long. Find the most important problems and get some discussion about what can be done. </p>
                    <p>To find the most serious problem, give everyone 2 votes, to vote on whatever cards they want. Eg, 10 people in the room, 6 groups of cards on the board, then 20 votes will be spread around the 6 cards. You can vote on the same card twice if you wish. There can be times where you had a major issues on the first week, but completely resolved by the second. By voting it will help remind people about what were the problems throughout the entire 2 weeks, not just recently.</p>
                    <p>Now comes the next crucial thing. Actually bother to solutionise about how to fix. Saying ‘deployments were shit’ then doing nothing, means the same problem will happen next week. Also give accountability. It can be team based, or individual, but there needs to be some responsibility on someone. This is where the bulk of your time will be spent. Making sure the most important issues are discussed first will ensure most of the time will get spent there. People tend to only focus on what’s in front of them now and will talk about minor Jira linking issues for 20 minutes if you give them the opportunity.</p>
                    <p>You also need to realise when not to talk about stuff, essentially most things in the good column. It’s hit meme status now where people will write ‘good communication’, ‘good teamwork’, ‘helped others’ etc. Literally every team does it. It’s not good, that’s the expectation. Good is when it exceeds expectation. Good is what you use for solving a major problem, or actually resolving one of your ‘bad’ cards from the previous 2 weeks.</p>
                    <p>Finally once all the talking has happened, write down those action items. Also review the previous action items. If no action items were actioned, then there is a major problem. This is where tracking is important and a good leader. A good leader will follow up on these action items and get stuff moving. People will get annoyed, but it’s their job solve problems. It works out in the long run and the satisfaction of continually improving will be seen. </p>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}