{% extends 'base.html' %}
{% block links %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Agile{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <article>
                <div class="post-header">
                    <h1>Dubious nature of Agile</h1>
                </div>
                <div class="post-content">
                    <p>Agile. A software methodology that is pushed as the new cutting edge process to solve your IT problems. Requirement issues during implementation? Agile solves it. Bugs in production? Should’ve gone Agile. End users having issues understanding your product? Well if you had Agile, they would be part of the process the whole way through.</p>
                    <p>And yet when companies attempt to adopt the Agile framework, the same problems still exist. The excuse? You didn’t do Agile right. It’s not Agile that’s the problem, it’s you. But this exposes the logical flaw with the argument. Named as ‘no true Scotsman’ the logic goes like this.</p>
                    <p>Assertion: All scotsman have ‘Mc’ in their lastname.</p>
                    <p>Counter: Well I’m a scot and I don’t have a ‘Mc’.</p>
                    <p>Logic: Well you’re not a true Scotsman then. </p>
                    <p>This same argument is applied with Agile projects. Implement an Agile methodology and it failed? Well it can’t be real Agile then.</p>
                    <p>There are Agile projects that are incredibly successful and have boosted companies into multi-billion dollar companies. Amazon, Microsoft, Twitter; all these companies have used Agile methodologies to huge success. Clearly this process can work. This poses the question: why does it fail for so many other companies?</p>
                    <h2>Software as a product</h2>
                    <p>I’ve been working for various McCorps over the past 10 years and there is one common denominator with these large corporates. IT is not their main product. Their product is a service or trying to implement a project for a specific client. IT is a way to increase efficiency or reduce costs. Compare this to an Amazon or Microsoft, where they are selling an IT product that people can use.</p>
                    <p>When Agile is applied to an IT product then the benefits can be realised. The constant evolution of your product makes sense when you generate actual sales from said product. The quality increases, the customers are satisfied and will maintain their engagement. Other customers come onboard and the cycle continues.</p>
                    <p>Contrast this with a typical corporate. They implement a project, it satisfies the need, then they need to move onto the next project. It doesn’t make sense to continually evolve an internal system. If there are bugs and they are not serious, get over it and move on. If these systems were continually improved your sales aren’t going up and your costs might marginally go down. All the incentives point towards solving another business problem where the money is more efficient.</p>
                    <h2>Creating success regardless of methodology</h2>
                    <p>Every successful project, regardless of methodology, will have good leadership behind it. In the Agile manifesto there is not one mention of the word leadership. This is the most important aspect of any team and the best process in the world cannot work if the leadership is lacking. I suspect that leadership is left out because it is very hard to quantify. Different successful leaders have different approaches and they can all work. Trying to sell this as a way to fix your processes is incredibly hard. It’s much simpler to say ‘just go agile’ rather than ‘well the leadership couldn’t drop their ego and accept someone else’s solution was better’.</p>
                    <p>There is some good that has come out of the Agile thinking, specifically Scrum. Incremental reviews are a fantastic way of setting up teams for success. Assuming there is a good leader running the reviews, then the efficiency gains will come.</p>
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <p>Tags:
    {% for tag in tags %}
            <a href="/articles/tags/{{tag}}">{{tag}} </a>
    {% endfor %}
        </p>
    </div>
</div>
{% endblock %}