{% extends 'base.html' %}
{% block links %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}The performance template{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <article>
                <div class="post-header">
                    <h1>How to choose the right tool</h1>
                </div>
                <div class="post-content">
                    <p>The first question you need to ask is, what problem am I trying to solve?</p>
                    <p>A tool is built to solve for a particular problem and performance test tools are no different. A hammer is built to hit things, a saw to saw
                    through things. You can use a saw to hammer in nails but it's going to take longer and have a number of limitations.</p>
                    <p>Once you understand what your problem is then you can look at the core features each tool needs to solve. There will be differences between them
                        but from my experience all performance test tools need to deal with the following concerns:</p>
                    <ul>
                        <li>Time to get setup</li>
                        <li>Flexibility in creating a user flow</li>
                        <li>Costs</li>
                    </ul>

                    <p>Brief overview of the key tools to use</p>
                    <p>Jmeter: Java, GUI driven, average recorder, nice plugins, reasonable reporting, completely free</p>
                    <img src="" alt="Temp file">
                    <p>k6: JS based, cmd, API testing focussed, no distributed testing mode, </p>
                    <p>Loadrunner: C based, GUI driven, good recorder, firewall handling, expensive</p>

                </div>

            </article>
        </div>
    </div>
    <div class="row">
        <p>Tags:
    {% for tag in tags %}
            <a href="/articles/tags/{{tag}}">{{tag}} </a>
    {% endfor %}
        </p>
    </div>
</div>
{% endblock %}