:root{
  --fontcolour: rgb(212,212,200);
  --headercolour: #ffffff;
  --menu_color: #ffffff;
  --bgcolour: rgb(37,37,38);
  --link-color: rgb(102, 102, 197);
}

.post-content{
  line-height: 150%;
}

.post-header{
  background-color: rgb(35,35,35);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

body{
  margin: 0;
  background-color: var(--bgcolour);
  max-width: 800px;
  margin: auto;
  color: var(--fontcolour);
}

body h1,h2,h3,h4{
  color: var(--headercolour);
}

body a{
  color:var(--link-color);
}

body a:hover{
  color:rgb(121, 121, 187);
}

header{
  font-size: 10;
  background-color: var(--bgcolour);
  margin: 0;
  margin-top: 0px;
}

footer{
  text-align: center;
  position: relative;
}

splash{
  font-size: x-large;
  font-weight: 700;
  text-decoration: none;
}

.menu a{
  color:var(--menu_color);
  padding: 5px;
  border-radius: 5px;
}

.menu li {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  color: var(--menu_color);
}

img{
  max-width: 100%;
}

h4{
  text-decoration: underline;
}