:root{
  --fontcolour: #e2e2e2;
  --menu_color: #ffffff;
  --bgcolour: rgb(37,37,38);
  --link-color: rgb(102, 102, 197);
}


body{
  margin: 0;
  background-color: var(--bgcolour);
  color: var(--fontcolour);
  max-width: 800px;
  margin: auto;
}

body a{
  color:var(--link-color);
}

body a:hover{
  color:rgb(121, 121, 187)
}

header{
  font-size: 10;
  background-color: var(--bgcolour);
  margin: 0;
  margin-top: 0px;
}

footer{
  text-align: center;
  position: relative;
}

splash{
  font-size: x-large;
  font-weight: 700;
  text-decoration: none;
}

.menu a{
  color:var(--menu_color);
  padding: 5px;
  border-radius: 5px;
}

.menu li {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  color: var(--menu_color)
}

img{
  max-width: 100%;
}