{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div id="main" class="container">
 <p>I'm Rory Crickmore and I've been doing software testing for over 10 years. I've setup this page for any to inquire about my credentials or experience otherwise I 
    may as well be some random on the internet.
 </p>
 <p>I started Aug 2011 while I was still in at University of Canberra working at <a href="https://kjr.com.au/">KJR</a>. After getting bored of manual testing in a couple years
I took the plunge and got stuck into performance testing. Without enough experience under my belt I did alot of small contracts with a variety of public/private companies
in Canberra and eventually ended up in Melbourne. In Melbourne I got my hands dirty in automation testing, with a mix of Selenium and Playwright</p>
 <p>Working in consultancy gives you so much experience as you have to work with many different teams and companies. You do get thrown in the deep end, but if you can 
    swim it teaches invaluable skills. I'm now located at <a href="https://www.kablamo.com.au/">Kablamo</a> who are an exceptional company and I'm so glad they convinced me to join them.
 </p>
</div>

{% endblock %}