{% extends 'base.html' %}
{% block links %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Articless{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="section-header-archive">2022 Articles</h3>
            <ul>
                <li><a class="post-title-archive" href="/articles/2022/loadtest-comparison">You'll never believe what this clickbait performance test comparison is like</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="section-header-archive">2021 Articles</h3>
            <ul>
                <li><a class="post-title-archive" href="/articles/2021/the-dubious-nature-of-agile">The dubious nature of Agile</a></li>
                <li><a class="post-title-archive" href="/articles/2021/automation-ins-and-outs">Automation ins and outs</a></li>
                <li><a class="post-title-archive" href="/articles/2021/running-a-good-review">Running a good review</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
