<!doctype html>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='shintori.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='tmp/Montserrat-Regular.tff') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% block links %}{% endblock %}

<div class="navbar navbar-inverse navbar-static-top" style="font-family:Montserrat">
  <div class="container">
  <div class = "navbar-header">
    <a class="navbar-brand" href="/">RC Software</a>
  </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="navbar-nav nav">
      <li>
      <a href="/articles">Articles</a>
      </li>
      <li>
      <a href="/about">About</a>
      </li>
      <li><a href="/search">Search</a></li>
    </ul>
    </div>
    </div>


</div>

<div class="container" id="main">
  {% block content %}
  {% endblock %}
  </div>
