<!doctype html>
<title>{% block title %}{% endblock %} - Rory</title>

<link rel="stylesheet" href="{{ url_for('static', filename='shintori.css') }}">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
  <div class = "navbar-header">
    {% if g.endpoint == "index" %}
    <a class="active navbar-brand" href="/">RC Software</a>
    {% else %}
    <a class="navbar-brand" href="/">Home</a>
    {% endif %}
  </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="navbar-nav nav">
      <li>
      <a href="/articles">Articles</a>
      </li>
      <li>
      <a href="/about">About</a>
      </li>
    </ul>
    </div>
    </div>

</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>