<!DOCTYPE html>
<html lang="en-au">
<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
<title>Test page</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
<header>
<nav>
  <ul class="menu">
  <li><splash><a href="/">RC Software</a></splash></li><li><a href="/articles">Articles</a></li><li><a href="/about">About</a></li>
  </ul>
</nav>
<hr>
</header>


  <ul>
    <li>
        <span>29/03/2023</span><a href="articles.html">Articles here</a>
    </li>
  </ul>
</body>

<footer><p><a href="/">RcSoftware</a> <a href="https://github.com/Kar98">Github</a> </p></footer>
</html>