<!doctype html>
<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
<title>Test page</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<nav>
  <div class="container">
    <ul class="menu">
      <li>
      <a href="/articles">Articles</a>
      </li>
      <li>
      <a href="/about">About</a>
      </li>
      <li><a href="/search">Search</a></li>
    </ul>
    </div>
  </nav>

<hr>


<ul>
    <li>
        <span>29/03/2023</span><a href="articles.html">Articles here</a>
    </li>
</ul>
<footer><p><a href="/">RcSoftware</a> <a href="https://github.com/Kar98">Github</a> </p></footer>